
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block body %}
<div class="login">
  <div class="login-block">
    <div class="app-title">
      <h1>{{ _('Register') }}</h1>
    </div>
    <div class="login-form">
		<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
		  {{ register_user_form.hidden_tag() }}
		  {{ render_field_with_errors(register_user_form.email) }}
		  {{ render_field_with_errors(register_user_form.password) }}
		  {% if register_user_form.password_confirm %}
		    {{ render_field_with_errors(register_user_form.password_confirm) }}
		  {% endif %}
		  {{ render_field(register_user_form.submit) }}
		</form>
    </div>
  </div>
</div>
{% endblock %}




<style>

body {
font-family: Arial;
background-color: #f3f3f3;
padding: 50px;
}
p{
  text-align: left;
}


.reg-btn {
  color: #ddd;
  margin-left: 5px;
  font-size: 12px;
}

.login {
margin: 20px auto;
width: 350px;
}
.login-block {
background-color: #a5a5a5;
padding: 20px;
border-radius: 5px
}



.app-title {
text-align: center;
color: #d0c8c8;
}

.login-form {
text-align: center;
}
.info{
text-align: center;
list-style: none

}
#submit {
  width: 100%;
  padding: 5px;
  color: #fff;
  background: none;
  border: 1px solid #ddd;
  font-weight: 300;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px #000;
  transition: ease-in 0.2s;
  margin-top: 2px;
  cursor: pointer;
}
#email{
  margin-left: 20px;
}
#password{
  margin-left: 50px;
}


input {
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  color: #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 0px 0px 12px;
  padding: 8px;
}



input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}


</style>